.header {
	margin-bottom: 10px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		font-family: "Inter", sans-serif;
		font-size: 15px;
		font-weight: 600;
		color: #000;

		&:hover {
			text-decoration: underline;
		}
	}

	&__link:not(:last-child) {
		padding-right: 20px;
	}

	&__hr {
		border: none;
		height: 4px;
		background-color: #333;
		border-radius: 2px;
	}
}