.home {
    margin-bottom: 20px;

    &__title {
        max-width: 400px;
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 10px;
    }

    &__button {
        position: absolute;
        display: block;
        border: 1px #000 solid;
        padding: 5px;
        border-radius: 5px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: 26px;
        background-color: transparent;
        color: #000;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .home {
        &__title {
            font-size: 24px;
        }

        &__button {
            font-size: 14px;
        }
    }
}

@media (max-width: 576px) {
    .home {
        &__title {
            font-size: 20px;
        }
    }
}