.home {
    &__title {
        max-width: 400px;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 10px;
    }

    &__button {
        position: absolute;
        display: block;
        border: 1px #000 solid;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        background-color: transparent;
        color: #000;
        cursor: pointer;
    }
}